
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#fff5f7;
    color:#333;
}

header{
    background:#ff4f81;
    padding:20px 50px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:white;
    font-size:30px;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:20px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}

.shop-btn{
    background:white;
    color:#ff4f81;
    border:none;
    padding:10px 20px;
    border-radius:25px;
    cursor:pointer;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:100px 20px;
    background:linear-gradient(#ffd6e5,#fff5f7);
}

.hero h2{
    font-size:48px;
    margin-bottom:20px;
}

.hero p{
    font-size:18px;
    margin-bottom:25px;
}

.hero button{
    background:#ff4f81;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:30px;
    cursor:pointer;
}

section{
    padding:60px 20px;
}

.products{
    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:250px;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    text-align:center;
}

.card h3{
    color:#ff4f81;
    margin-bottom:10px;
}

footer{
    background:#ff4f81;
    color:white;
    text-align:center;
    padding:20px;
}
